@page
@*@model IndexModel
@{
    ViewData["Title"]="Home Page";
}*@

<!DOCTYPE html>
<html>
<body>

<h1>SignalR chat app</h1>

<form>
    name:<br>
  <input type="text" name="name" id="name" ><br>
  message:<br>
  <input type="text" name="message" id="message" ><br><br>

  <input type="submit" id = "submitBtn" value="Submit">
</form>

<ul id="messagelist">

</ul>

<script src="~/lib/signalr/signalr.js"></script>
</body>
</html>